header{
    background-color: rgb(141, 141, 233);
}
nav{
    background-color: coral;
}
section{
    background-color: rgb(228, 228, 79);
}
article{
    background-color: rgb(223, 90, 90);
}
aside{
    background-color: violet;
}
footer{
    background-color: rgb(49, 161, 161);
}